body {
    background-image: url("../images/background.jpg");
    background-size: 150%;
    color: green;
    /* font-family: 'Galindo', cursive; */
}

h1 {
    
    font-size: 60px;
    margin-top: -1%;
}

.gameboard {
    /* width: 80%; */
    margin-left: 10%;
}
                  
#tree {
    position: relative;
    z-index: -100;
    width: 85%;
    height: 500px;
    margin-left: 10%;
    margin-top: -43%; 
}

#star {
    margin-left: 42%;
}

 .ornamentRow {
    width: 75px;
    height: 75px;
    border-radius: 38px;
    background-color: red;
    transition: filter .2s;
	transition: all ease-in-out .2s;
}

.starRow {
    margin-top: -10%;
    width: 50%;
    margin-left: 23%;
}

.topRow {
    color: white;
}

.firstOrnament {
    margin-left: 40%;
}

.secondOrnament {
    margin-left: 34%;
}

.thirdOrnament {
    margin-left: 28%;
}

.fourthOrnament {
    margin-left: 21%;
}

.fifthOrnament {
    margin-left: 15%;
}

.otherOrnaments {
    margin-left: 6%;
}

.largerImg {
     transform: scale(1.3, 1.3); 
}

.solved {
    border: solid 3px red;
    opacity: 0.5;
}

#myModal {
    margin-top: 2%;
    margin-left: -40%;
}

#timeArea {
    height: 50px;
}

#hideTimer {
    margin-left: 20px;
}

#msecs {
    font-size: 35px;
}

.ornaments {
    position: relative;
    margin-left: 1%;
}

.snowglobes {
    height: 100%;
    margin-right: 4%;
    margin-bottom: 20%;
    transition: filter .2s;
	transition: all ease-in-out .2s;
}

#snowglobeSection {
    /* margin-left: 30.5%; */
    height: 60px; 
    width: 5%;
}

#chooseDiff {
    height: 70px;
}

.possibility {
    transform: scale(1.3, 1.3);
}

.snowballs {
    position: static;
    z-index: 100;
    width: 13.5%;
    visibility: hidden;
}

#snowball1 {
    z-index: 200;
    margin-top: -75%;
    margin-left: 45%;
}

#snowball2 {
    margin-top: -49%;
    margin-left: -25.5%;
}

#snowball3 {
    margin-top: -52%;
    margin-left: 59.5%;
}

#snowball4 {
    margin-top: -26%;
    margin-left: -53%;
}

#snowball5 {
    margin-top: -26%;
    margin-left: 13%;
}

#snowball6 {
    margin-top: -26%;
    margin-left: 13%;
}








/* ANIMATIONS */

.snowglobeIntroFromLeft {
    visibility: visible;
    -webkit-animation: snowglobeIntroFromLeft 4s forwards;
}

@keyframes snowglobeIntroFromLeft {
    0% {  transform: translateX(-2000%) rotate(0deg); }
    100% { transform: translateX(0%) rotate(1440deg); }
}

.snowglobeIntroFromRight {
    visibility: visible;
    -webkit-animation: snowglobeIntroFromRight 4s forwards;
}

@keyframes snowglobeIntroFromRight {
    0% {  transform: translateX(2000%) rotate(0deg); }
    100% { transform: translateX(0%) rotate(-1440deg); }
}

.snowglobeIntroFromTop {
    visibility: visible;
    -webkit-animation: snowglobeIntroFromTop 4s forwards;
}

@keyframes snowglobeIntroFromTop {
    0% { transform: translateY(-2000%) rotate(0deg); }
    100% { transform: translateY(0%) rotate(-1440deg); }
}

.meltAway {
    -webkit-animation: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: meltAway;
}

@keyframes meltAway {
    from { -webkit-transform: rotate(0deg) scale(1); }
    to { -webkit-transform: rotate(1440deg) scale(0); }
}

.shakeGlobe {
    -webkit-animation: 0.12s;
    animation-fill-mode: forwards;
    animation-iteration-count: 10;
    animation-name: shakeGlobe;
}

@keyframes shakeGlobe {
    from { -webkit-transform: rotate(0deg);  }
    25% { -webkit-transform: rotate(45deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-45deg); }
    to { -webkit-transform: rotate(-0deg); }
}

.smallStar {
        -webkit-animation: 29s;
        animation-fill-mode: forwards;
        animation-name: smallThenBig;
}

@-webkit-keyframes smallThenBig {
	from { -webkit-transform: rotate(0deg) scale(0.01); }
	to { -webkit-transform: rotate(359deg) scale(1.0);}
}

.rotateNeg45 {
    -webkit-animation: 2s;
    animation-fill-mode: forwards;
    animation-name: rotateNeg45;
}

@-webkit-keyframes rotateNeg45 {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(-30deg); }
}

.neg45ToBase {
    -webkit-animation: 2s;
    animation-fill-mode: forwards;
    animation-name: neg45ToBase;
}

@-webkit-keyframes neg45ToBase {
	from { -webkit-transform: rotate(-30deg); }
	to { -webkit-transform: rotate(0deg); }
}

.rotatePos45 {
    -webkit-animation: 2s;
    animation-fill-mode: forwards;
    animation-name: rotatePos45;
}

@-webkit-keyframes rotatePos45 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(30deg); }
}

.pos45ToBase {
    -webkit-animation: 2s;
    animation-fill-mode: forwards;
    animation-name: pos45ToBase;
}

@-webkit-keyframes pos45ToBase {
	from { -webkit-transform: rotate(30deg); }
	to { -webkit-transform: rotate(0deg); }
}